ConversionUnicode/*
Debug/*
Logs/*
OWDC/*
*.ncb
svrDispatcher/Debug/*.log
svrDispatcher/Debug/*.map
svrDispatcher/Debug/*.pch
svrDispatcher/Debug/*.pdb
svrDispatcher/Debug/*.obj
svrDispatcher/Debug/*.idb
svrDispatcher/Logs/*.log
svrWorkerOC/Debug/*.log
svrWorkerOC/Debug/*.map
svrWorkerOC/Debug/*.pch
svrWorkerOC/Debug/*.pdb
svrWorkerOC/Debug/*.obj
svrWorkerOC/Debug/*.idb
svrWorkerOC/Logs/*.log